<mat-toolbar>
    <mat-toolbar-row class="mat-toolbar-row-header">
        <span class="text-header">Présentation</span>
        <span class="text-header">Formation</span>
        <span class="text-header">Expèriences professionnelles</span>
        <span class="text-header">Contact</span>
        <span class="text-header"><a href="https://www.linkedin.com/in/antoine-bidaud-30a39a190/" style="color:white"><fa-icon class="specialIcons linkedin" [icon]="faLinkedIn"></fa-icon></a></span>
        <span class="text-header"><a href="https://github.com/BidaudA" style="color:white"><fa-icon class="specialIcons github" [icon]="faGitHub"></fa-icon></a></span>
        <span class="text-header"><a href="#" style="color:white">CV</a>
        </span>
    </mat-toolbar-row>
</mat-toolbar>
